/*Dev - Hector */

    body{
        font font-family: 'Satisfy', cursive;
        background-color: cadetblue;
        }
    /*esta es la etiqueta para quitarle el bullet*/        
    ul{ 
        list-style: none;
        }
div
{
    border-style: double;
    background-color: azure;
    border-bottom-width: medium;
}
#galeria{
    margin:0;
    padding:0;
    border-color:cadetblue;
}
.img-resp{border-radius: 50%; }

#wrapper{
    max-width: 940px;
    margin:0 auto;
    padding:0 5%;
}
a{
    text-decoration: none;
    color:both;
}

/*****************
    NAVEGACION
*****************/

nav{
    padding: 10px 0;
    margin-top: 5px;
    background-color:azure;
    text-align: center;
}

nav ul{
    list-style: none;
    margin: 0 10px;
    padding: 0;
}

nav li{
    display:inline-block;
    padding: 10px;
    border-radius: 50px;
    border-style: solid;
}

nava a{
    font-weight: 800;
    padding: 15px 10px;
}

}